footer{
    background: var(--color-primary);
    padding:15px ;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}
footer a {
    color: var(--color-bg);
}
.footer_logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.footer_link {
   
    background: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 4rem;
    padding: 1rem 1rem;
    
}
.footer_link a{
    padding: 1rem ;
    
    font-weight: 600;
    border: 1px solid var(--color-bg);
    padding: 10px 8px;
    border-radius: 5px;
}
.footer_link a:hover{
    color: var(--text-color);
    background: var(--color-bg);
}
.footer_social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footer_social a{
 background: var(--color-bg);
 color: var(--text-color);
 padding: 0.8rem;
 border-radius: 0.7rem;
 display: flex;
 border: 1px solid transparent;
}
.footer_social a:hover{
 background: transparent;
 color: var(--color-bg);
 border-color: var(--color-bg);
}
.footer_copyright{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--color-bg);

}