.skill_container{
    display: grid;
    
}
.skill_container > div{
 padding: 2.4rem 5rem;
 border-radius: 2rem;
 border: 1px solid transparent;

}
.skill_container > div h3 {
    display: flex;
  align-items: center;
   margin-bottom: 2rem;
   color: var(--color-primary); 
   border: 2px solid rgba(0, 255, 115, 0.534);
   background:var(--color-primary);
   color: black;
   padding: 1rem;
   border-radius: 1rem;
   width: max-content;
}
.skill_content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
}
.skill_details{
    display: flex;
    gap: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
}
.skill_details:hover{
    background: var(--color-primary);
}